<div class="row">
    <div class="col-md-12">
        <h2>Departments <a href="/departments/add" class="btn btn-success pull-right">Add New Department</a></h2>
        <hr />
                <div id="empTable" class="table-responsive-sm">
            <table class="table tabme-sm">
                <thead>
                    <tr>
                        <th scope="col">Department Number</th>
                        <th scope="col">Department Name</th>
                        <th scope="col"></th>
                    </tr>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td scope="row"><a href="/employees/?department={{departmentId}}">{{departmentId}}</a></td>
                        <td scope="row"><a href="/department/{{departmentId}}">{{departmentName}}</a></td>
                        <td scope="row"><a href="/departments/delete/{{departmentId}}" class="btn btn-danger">remove</a></td>
                    </tr >
                    {{/each}}
                </tbody>
                </thead>
            </table>
        </div>
   
    </div>
    {{#unless data}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>