<div class="row">
    <div class="col-md-12">
        <h2>Employees <a href="/employees/add" class="btn btn-success pull-right">Add New Employee</a></h2>
        
        <hr />
        <div id="empTable" class="table-responsive-sm">
            <table class="table tabme-sm">
                <thead>
                    <tr>
                        <th scope="col">Employee Num</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Manager ID</th>
                        <th scope="col">Status</th>
                        <th scope="col">Department</th>
                        <th scope="col">Hired On</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    <tr>
                        <td scope="row">{{employeeNum}}</td>
                        <td scope="row"><a href="/employee/{{employeeNum}}">{{firstName}} {{lastName}}</a></td>
                        <td scope="row"><a href="mailto:{{email}}">{{email}}</a></td>
                        <td scope="row">{{addressStreet}} {{addressCity}} {{addressState}} {{addressPostal}}</td>
                        <td scope="row">
                            {{#unless isManager}}
                            {{else}}
                                <a href="/employees/?manager={{employeeManagerNum}}">{{employeeManagerNum}}</a></td>
                            {{/unless}}
                        </td>
                        <td scope="row"><a href="/employees/?status={{status}}">{{status}}</a></td>
                        <td scope="row"><a href="/employees/?department={{department}}">{{department}}</a></td>
                        <td scope="row">{{hireDate}}</td>
                        <td scope="row"><a href="/employees/delete/{{employeeNum}}" class="btn btn-danger">remove</a></td>
                    </tr >
                    {{/each}}
                </tbody>
                
            </table>
        </div>
    </div>
    {{#unless data}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/unless}}
</div>